
.header {
}
.header-bottom {
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.logo {
    margin: 0;
    padding: 0;
    font-weight:normal;
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
}

.logo flake {
    color: #f06c64;
    font-size: 21px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top:15px;
}

.active {
    color: #f06c64 !important;
}

.header-content {
    padding-right:10px;
    padding-left:40px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: #2d303a;

    font-family: "Lato Bold", Verdana, sans-serif;
}

.header-navigation {
    font-size: 11px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.header-navigation li {
    margin-right: 30px;

}
a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing:normal;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/*===== slider =======*/

.slider-content {
    position: relative;
    background-color: #f06c64;
    width: 100%;
    height: 600px;
}
/*vertical-phone*/

.vertical-phone {
    position: absolute;
    left: 112px;
    top: 54px;
}
.vertical-phone-base {
    position: absolute;
}

.vertical-phone-screen {
    position: absolute;
    top: 62px;
    left: 12px;
}

.vertical-phone-shadow {
    position: absolute;
}

/*horizontal-phone*/

.horizontal-phone {
    position: relative;
    left: 425px;
    top: 172px;
}

.horizontal-phone-base {
    position: absolute;
}
.horizontal-phone-screen {
    position: absolute;
    top: 12px;
    left: 57px;
}
.horizontal-phone-shadow {
    position: absolute;
}
.slider-bottom {
    background-color: #ea676b;
    width: 100%;
    height: 6px;
}

.slider-button-back {
    position: absolute;
    left: 40px;
    top: 285px;
    background-image: url("assets/image/back.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}

.slider-button-forward {
    position: absolute;
    right: 40px;
    top: 285px;
    background-image: url("assets/image/forward.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}
/*===== our services =====*/

.our-services{
    

}
.wrapper1{
    height:494px;
    width: 1020px;
    margin: 0 auto;
}
.our-services__content {
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left:40px;
    padding-right:40px;

}
.our-services-text{
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 25px;
    word-spacing: 1px;
    font-weight:bold;
}
.our-services__content {
    color: #666d89;
}

.our-services__content h2 {
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 30px;
}

.our-services__content > p {
    font-family: 'Lato Light', Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.services {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;

}
.annotation {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 15px;
    line-height: 28px;
    

}

.card {
    width: 300px;
    display: flex;
    margin: 5px 0;
}

.card__icon {
    margin-top: 15px;
    width: 60px;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.card__content {
    width: 220px;
    margin-left: 20px;
}

.card__title {
    margin: 0 0 15px 0;
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.card__description {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 12px;
    line-height: 22px;
}
.our-services-bottom {
    width: 100%;
    height: 6px;
    background-color:#f2f2f2;
}



