header{
position: sticky;
  top: 0;
  z-index: 3;
  scroll-margin-top: 60px;
}
.slider{
  width: 1020px;
  margin: 0 auto;
}
.header-bottom {
    width: 100%;
    height: 6px;
    background-color: #323746;
}

.logo {
    margin: 0;
    padding: 0;
    font-weight:normal;
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
}

.logo flake {
    color: #f06c64;
    font-size: 21px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-top:15px;
}

.active {
    color: #f06c64 !important;
}

.header-content {
    padding-right:10px;
    padding-left:40px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    background-color: #2d303a;

    font-family: "Lato Bold", Verdana, sans-serif;
}

.header-navigation {
    font-size: 11px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.header-navigation li {
    margin-right: 30px;

}
a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing:normal;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

/*===== slider =======*/

.slider-content {
    position: relative;
    background-color: #f06c64;
    width: 100%;
    height: 600px;
}
/*vertical-phone*/

.vertical-phone {
    position: absolute;
    left: 112px;
    top: 54px;
}
.vertical-phone-base {
    position: absolute;
}

.vertical-phone-screen {
    position: absolute;
    top: 62px;
    left: 12px;
}

.vertical-phone-shadow {
    position: absolute;
}

/*horizontal-phone*/

.horizontal-phone {
    position: relative;
    left: 425px;
    top: 172px;
}

.horizontal-phone-base {
    position: absolute;
}
.horizontal-phone-screen {
    position: absolute;
    top: 12px;
    left: 57px;
}
.horizontal-phone-shadow {
    position: absolute;
}
.slider-bottom {
    background-color: #ea676b;
    width: 100%;
    height: 6px;
}

.slider-button-back {
    position: absolute;
    left: 40px;
    top: 285px;
    background-image: url("assets/image/back.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}

.slider-button-forward {
    position: absolute;
    right: 40px;
    top: 285px;
    background-image: url("assets/image/forward.png");
    display: block;
    width: 16px;
    height: 27px;
    cursor: pointer;
}
.display-off {
  opacity: 0;
}
/*===== our services =====*/

.our-services{
  width: 1020px;
  margin: 0 auto;

}
.wrapper1{
    height:494px;
    width: 1020px;
    margin: 0 auto;
}
.our-services__content {
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left:40px;
    padding-right:40px;

}
.our-services-text{
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 25px;
    word-spacing: 1px;
    font-weight:bold;
}
.our-services__content {
    color: #666d89;
}

.our-services__content h2 {
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 30px;
}

.our-services__content > p {
    font-family: 'Lato Light', Verdana, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.services {
    padding-top: 30px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;

}
.annotation {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 15px;
    line-height: 28px;
    

}

.card {
    width: 300px;
    display: flex;
    margin: 5px 0;
}

.card__icon {
    margin-top: 15px;
    width: 60px;
    height: auto;
    display: flex;
    align-items: flex-start;
}
.card__content {
    width: 220px;
    margin-left: 20px;
}

.card__title {
    margin: 0 0 15px 0;
    font-family: 'Lato Black', Verdana, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.card__description {
    margin: 0;
    font-family: 'Lato Regular', Verdana, sans-serif;
    font-size: 12px;
    line-height: 22px;
}
.our-services-bottom {
    width: 100%;
    height: 6px;
    background-color:#f2f2f2;
}



body {
  margin: 0;
  padding: 0;
}
   
.wrapper_portfolio {
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 67px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  margin: 0;
  padding: 69px 0 0 40px;
  font-size: 30px;
  line-height: 20px;
  color: #666d89;
  font-family: "Lato-Black",sans-serif;
  font-weight: 750;
  text-align: left;
}

.portfolio__description {
  margin: 19px 0 12px 0;
  padding: 10px 0 0 40px;
  font-size: 18px;
  line-height: 26px;
  color: #767e9e;
  font-family: "Lato-Light",sans-serif;
  font-weight: 300;
  font-stretch:normal;
  
  letter-spacing:0.81 ;
  text-align: left;
}

.portfolio__navigation {

  padding-left: 40px;
}

.portfolio__link {
  height: auto;
  width: auto;
  margin: 0 5px 0 2px;
  padding: 3px 6px 3px 5px;
  font-size: 12px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  border: 1px solid #666d89;
  border-radius: 4.2px;
    }

.portfolio__link:hover {
  cursor: pointer;
  color: #dedede;
  border: 1px solid #c5c5c5;
}

.portfolio__images {
  width: 940px;
  height: 601px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  overflow: hidden;
  margin: 18px 40px 0;
}

.portfolio__image {
  margin-bottom: 20px;
}
.about-us__description span{
      word-spacing:0.01px;
      letter-spacing: 0.01px;
}
.wrapper_about-us {
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 63px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us__title {
  margin: 0;
  padding: 68px 0 0 40px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black",sans-serif;
  word-spacing: 0.001px;
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.01em;
  font-stretch:condensed;
}

.about-us__description {
  padding: 11px 0 0 40px;
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light",sans-serif;
  font-weight: 300;
  text-align: justify;
  letter-spacing:0.1px;
  word-spacing: 0.1px;
  
  font-weight: lighter;
}

.photo {
  display: flex;
  justify-content: space-between;
  margin: 2px 40px;
}

.employee {
  width: 300px;
  margin: 28px 2px 0 0;
}

.employee:last-child {
  margin: 28px 0px 0 2px;
}

.employee__name {
  max-width: inherit;
  margin: 0;
  padding: 13px 1px 0 0px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato-Black";
  font-weight: 900;
  text-align: left;
  letter-spacing: -0.01em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.employee__text {
  margin-top: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
  word-spacing: 0.1px;
  letter-spacing: ;
}

.employee:last-child > .social {
  margin-left: -1px;
}

.social__ico {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 12px 3px 0 1px;
  padding-right: 0px;
  border-radius: 32px;
}

.social__ico:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 1px #666d89;
}

.ico_facebook {
  background-image: url(./assets/images/icons/facebook.svg);
}

.ico_google-plus {
  background-image: url(./assets/images/icons/google-plus.svg);
}

.ico_twitter {
  background-image: url(./assets/images/icons/twitter.svg);
}

.ico_linkedin {
  background-image: url(./assets/images/icons/linkedin.svg);
}
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper_feedback {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.feedback__title {
  margin: 0;
  padding: 68px 0 0 40px;
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.feedback__description {
  margin: 19px 0 10px 0;
  padding: 10px 40px 0 40px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 300;
  text-align: justify;
  word-spacing: -0.02em;
}

.layout-2-column {
  display: flex;
  margin: 40px 40px 0;
  justify-content: space-between;
}

.feedback__form {
  width: 66%;
  margin-top: 2px;
}

.contact-information {
  width: 32%;
}

.feedback span{
  word-spacing:0.01px;
  letter-spacing: 0.01px;
  }

.feedback__input {
  display: block;
  width: calc(100% - 16px);
  margin-bottom: 16px;
  padding: 0 0 0 15px;
  height: 38px;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
}

.feedback__input::placeholder {
  color: #f48c8f;
}

.feedback__input:hover {
  transition: 0.8s;
  background-color: #be544d;
}

.feedback__input::-ms-input-placeholder {
  color: #f48c8f;
}

.feedback__textarea {
  height: 195px;
  padding-top: 7px;
  resize: none;
}

.feedback__submit {
  margin-bottom: 13px;
  text-align: center;
  cursor: pointer;
  width: calc(50% - 10px);
 
}


.contact-information__title {
  margin: 2px 0 0 0;
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

.contact-information__description {
  margin: 10px 0 20px 0;
}

.contact-information_text {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
}

.contact-information__description span{
  word-spacing: -0.05px;
  letter-spacing: -0.05px;
  }

.contact-information__location {
  display: block;
}

.contact-information__link {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: -0.01em;
}

.contact-information__link::before {
  display: inline-block;
  width: 13px;
  height: 11px;
  margin-right: 10px;
  margin-left: 1px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.location__ico::before {
  background-image: url("./assets/images/icons/location.svg");
  margin-bottom: -1px;
}

.phone__ico::before {
  background-image: url("./assets/images/icons/phone.svg");
}

.mail__ico::before {
  background-image: url("./assets/images/icons/mail.svg");
}

.wrapper_footer {
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
}

.footer__copyright {
  margin-left: 42px;
  font-size: 12px;
  line-height: 22px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.01em;
}

.footer__social {
  margin-bottom: 7px;
  margin-right: 37px;
}

.social__ico {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 10px 3px 0 1px;
  padding-right: 0px;
  border-radius: 32px;
}

.social__ico:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 3px #ffffff;
}

.ico_facebook {
  background-image: url(./assets/images/icons/facebook.svg);
}

.ico_google-plus {
  background-image: url(./assets/images/icons/google-plus.svg);
}

.ico_twitter {
  background-image: url(./assets/images/icons/twitter.svg);
}

.ico_link {
  background-image: url(./assets/images/icons/link.svg);
}
